@model IEnumerable<SolutionSelling.Models.CartItem>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>

<p>
    <a asp-controller="Items" asp-action="Allitems" class="btn">Back to shopping</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.Seller)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.Item_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Seller)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Items.Item_Name)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Price)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => @item.Quantity) / @(item.Quantity + item.Items.Quantity)
            </td>
            <td>
                    <a asp-action="Add" asp-route-id="@item.Items.Id" class="btn btn-success">+</a><a asp-action="Minus" asp-route-id="@item.Items.Id" class="btn btn-danger">-</a>&nbsp<a asp-action="Remove" asp-route-id="@item.Items.Id" class="btn">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h1>Total Cost: $@ViewBag.totalcost</h1>
<p>
    <a asp-controller="Cart" asp-action="Checkout" class="btn">Checkout!</a>
</p>